<article class =  "tarjeta-producto">
    <img
     class = "tarjeta-producto__imagen"
     src = "producto.images[0]"
      alt = "Imagen del producto"
    />

    <div class = "tarjeta-producto_contenido">
        <p class ? = "tarjeta-producto__categoria">
            {{producto.category.name}}
            </p>
        <h2 class = "tarjeta-producto__titulo">
            {{producto.title}}
        </h2>

        <p class = "tarjeta-producto__precio">
            {{producto.price}}
        </p>

        <p class = "tarjeta-producto__descripcion">
            {{producto.description}}
        </p>

        <button class = "tarjeta-producto__boton">
            Agregar al carrito
        </button>
    </div>
</article>